body {
    background-color: rgb(63, 53, 53);
}


.custom-focus {
    border: 1px solid #ccc; /* Set default border color */
}

.custom-focus:focus {
    border-color: orange; /* Change border color when focused */
}


/* .search-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

input {
    font-size: 1rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;

}

.card {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card > .body {
    font-size: .8rem;
}

.hide {
    display: none;
} */