/* body {
    background-color: rgb(63, 53, 53);
} */
/* body {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e,); 
    color: #ffffff;
} */
/* Body with purple yo orange gradient */
/* body {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e, #f7931a);
    color: #ffffff;
} */

body {
    background: linear-gradient(to bottom, #181818, #333234, #3a3a3c, #f7931a);
    color: #000000;
}

html {
    scroll-padding-top: 100px;
}

.card {
    background-color: white;
}

/* Card with gradient */
/* .card {
    background: linear-gradient(to bottom, #7b7a80, #b9b8c6, #eaeaf0, #f7931a); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
} */

/* Modal with gradient */
/* .modal {
    background: linear-gradient(to bottom, #7b7a80, #b9b8c6, #eaeaf0, #f7931a);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
} */


nav {
    background-color: #000000;
    color: white;
}

/* nav {    
    background-color: #2F4F4F;
    color: white;
} */

a {
    transition: background-color 0.3s, transform 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: underline; /* Adds a quick visual cue */
    transform: scale(1.05); /* Slightly enlarge on hover */
    background-color: transparent; /* Darker shade for better contrast */
  }

  /* h1[id] { 
    padding-top: 50px; 
    margin-top: +5px;
  } */
  
  .adjust-for-header {
    padding-top: 100px;
    margin-top: -80px;
}






.custom-focus {
    border: 1px solid #ccc; /* Set default border color */
}

.custom-focus:focus {
    border-color: orange; /* Change border color when focused */
}

.image-wrapper {
    width: 100%; /* Adjust width as needed */
    max-width: 500px; /* Maximum width to control how wide the image can get */
    margin: 0 auto; /* Center the image */
  }
  

  





#searchResults {
    position: absolute;
    background: white;
    width: calc(100% - 20px);
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    display: none; /* Hide by default, show when there are results */
    padding-right: 10px; /* Add some padding to create space for scrollbar */
}

#searchResults:hover {
    color: #333234;
}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
}

.search-result-item:hover {
    background: #e4e4e4;
}

.search-result-item a {
    text-decoration: none;
    color: black;
}

.search-result-item:last-child {
    border-bottom: none;
}

  